extends layout

block content
  h1= title

  ul
    each genre in genre_list
      hr
      li
        a(href=genre.url) #{genre.name}npm
        p
        a(href=genre.url+'/delete') Delete Genre
    else
      li There are no genres.
